* {
	padding: 0;
	margin: 0;
}

html {
	display: flex;
	align-items: center;
	flex-direction: column;
}

body {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.back-ground-image {
	background: url(./media/your_verse_hero.jpg)50% 100% no-repeat;
	width: 100%;
	height: 538px;
}

.nav {
	display: flex;
	flex: 1;
	flex-flow: nowrap;
	justify-content: space-around;
	align-items: center;
	height: 30px;
	background-image: linear-gradient(grey, #5f635f, grey);
	width: 70%;
	margin: auto;
	margin-top: 90px;
	border-radius: 4px;
	border: 3px solid grey;
}

.nav-tabs {
	display: flex;
	align-items: center;
	width: 12%;
	height: 30px;
	justify-content: center;
	position: relative;
	border-left: 2px solid grey;
}

.nav a {
	color: blanchedalmond;
	text-decoration: none;
	font-family:  "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	Font-size: 13px;

	Font-weight: 600;

	Line-height: 18px;

	color: rgba(255, 255, 255, 0.979);
}
.nav input {
	position: absolute;
	overflow: hidden;
	white-space: nowrap;
	width: 90px;
	bottom: 0px;
	flex-basis: 30px;
	height: 22px;

	/* border-radius: 7px; */
}
#apple {
}

#search-icon {
	/* position: relative;
	left: 10%; */
}

.slogans {
	text-align: center;
	margin-top: 100px;
}

.last-slogan {
}

.slogans h1 {
	/* Font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif; */
	Font-size: 60px;
	Font-weight: 100;
	font-style: normal;
	Line-height: 36px;
	color: white;
}

.slogans a {
	text-decoration: none;
}

.bottom-images {
	display: flex;
	flex-direction: row;
	justify-content: ;
	margin-bottom: 0;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

.bottom-images img {
	width: 360px;
	height: 200px;
}

footer {
	display: flex;
	flex-direction: row;
}

.apple-online {
	justify-content: flex-start;
}

.links {
	display: flex;
	justify-content: end;
	flex-direction: row;
}
